.th-error {
  background-color: #f2dede;
  color: #a94442;
}
.th-alert {
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.th-feature {
  background-color: #dff0d8;
  color: #3c763d;
}
.th-structure {
  background-color: #d9edf7;
  color: #31708f;
}
.th-html5 {
  background-color: #e8eaf8;
  color: #656789;
}
.th-contrast {
  background-color: #666666;
  color: #ffffff;
}
.rowErr {
  background-color: #f2dede;
}
