:global(div .nav.nav-tabs) :local .error {
  a {
    background-color: #f2dede;
    color: #a94442;
  }
  a:hover, a:focus, &:global(.active)>a, &:global(.active)>a:focus, &:global(.active)>a:hover {
    border: 1px solid #a94442;
    border-bottom-color: transparent;
    font-weight: 600;
  }
}
:global(div .nav.nav-tabs) :local .alert {
  a {
    background-color: #fcf8e3;
    color: #8a6d3b;
  }  
  a:hover, a:focus, &:global(.active)>a, &:global(.active)>a:focus, &:global(.active)>a:hover {
    border: 1px solid #8a6d3b;
    border-bottom-color: transparent;
    font-weight: 600;
  }
}
:global(div .nav.nav-tabs) :local .feature {
  a {
    background-color: #dff0d8;
    color: #3c763d;
  }  
  a:hover, a:focus, &:global(.active)>a, &:global(.active)>a:focus, &:global(.active)>a:hover {
    border: 1px solid #3c763d;
    border-bottom-color: transparent;
    font-weight: 600;
  }
}
:global(div .nav.nav-tabs) :local .structure {
  a {
    background-color: #d9edf7;
    color: #31708f;
  }  
  a:hover, a:focus, &:global(.active)>a, &:global(.active)>a:focus, &:global(.active)>a:hover {
    border: 1px solid #31708f;
    border-bottom-color: transparent;
    font-weight: 600;
  }
}
:global(div .nav.nav-tabs) :local .html5 {
  a {
    background-color: #e8eaf8;
    color: #656789;
  }  
  a:hover, a:focus, &:global(.active)>a, &:global(.active)>a:focus, &:global(.active)>a:hover {
    border: 1px solid #656789;
    border-bottom-color: transparent;
    font-weight: 600;
  }
}
:global(div .nav.nav-tabs) :local .contrast {
  a {
    background-color: #666666;
    color: #ffffff;
  }  
  a:hover, a:focus, &:global(.active)>a, &:global(.active)>a:focus, &:global(.active)>a:hover {
    border: 1px solid #ffffff;
    border-bottom-color: transparent;
    font-weight: 600;
  }
}
:global(div .nav.nav-tabs) :local .all {
  a {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-bottom-color: transparent;
    color: #666666;
  }  
  a:hover, a:focus, &:global(.active)>a, &:global(.active)>a:focus, &:global(.active)>a:hover {
    border: 1px solid #666666;
    border-bottom-color: transparent;
    font-weight: 600;
  }
}
.rowErr {
  background-color: #f2dede;
}
