html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
#root {
  flex: 1 0 auto;
  font-family: "Open Sans", sans-serif;
}
.header {
  flex-shrink: 0;
}
header {
  background-color: #2a2727;
  color: white;
  padding: 16px 0 16px 32px;
  width: 100%;

  h1 {
    margin: 0;
  }
}
.header-gradient {
  background: #f7b245;
  background: linear-gradient(90deg, #f7b245, #eb6971);
  height: 12px;
  width: 100%;
}
.main {
  margin: 0 auto;
  max-width: 1024px;
  padding: 32px 0 12px;
  width: 98%;
}
h2.panel-title {
  font-size: 18px;
  font-weight: 600;
  
  a, a:hover, a:focus {
    border-bottom: 0;
  }
}
.options-key-container {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
  justify-content: space-between;
  width: 100%;
  
  div {
    width: 47%;
  } 
}
textarea {
  min-height: 140px;
  max-width: 100%;
}
.button-container button {
  display: inline-block;
  margin-right: 20px;
}
.progress {
    margin-bottom: 10px;
    margin-top: 20px;
}
.progress-bar {
  min-width: 2em;
}
a, a:focus {
  border-bottom: 1px dotted rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  text-decoration: none;
}
a:hover, a:active, a:focus {
  border-bottom: 1px dashed rgb(64, 64, 64);
  text-decoration: none;
}
button.btn-link {
  color: #333;
  padding: 0;

  &:hover, &:focus {
    color: black;
    font-weight: 600;
    text-decoration: none;
  }
}
#sum-table {
  margin-bottom: 0;
}
.results-table tr th:first-child {
  width: 35%;
}
.results-table tr td:last-child {
  width: 50%;
}
.table-all {
  margin-top: 16px;
}
.th-error {
  background-color: #f2dede;
  color: #a94442;
}
.th-alert {
  background-color: #fcf8e3;
  color: #8a6d3b;
}
.th-feature {
  background-color: #dff0d8;
  color: #3c763d;
}
.th-structure {
  background-color: #d9edf7;
  color: #31708f;
}
.th-html5 {
  background-color: #e8eaf8;
  color: #656789;
}
.th-contrast {
  background-color: #666666;
  color: #ffffff;
}
.tab-content table {
  border-top: 0px;
}
.nav.nav-tabs .tab-error {
  a {
    background-color: #f2dede;
    color: #a94442;
  }  
  a:hover, a:focus {
    border: 1px solid #a94442;
    border-bottom-color: transparent;
    font-weight: 600;
    height:105%;
  }
  &.active>a, &.active>a:focus, &.active>a:hover {
    background-color: #f2dede;
    border: 1px solid #a94442;
    border-bottom-color: transparent;
    color: #a94442;
    font-weight: 600;
  }
}
.nav.nav-tabs .tab-alert {
  a {
    background-color: #fcf8e3;
    color: #8a6d3b;
  }  
  a:hover, a:focus {
    border: 1px solid #8a6d3b;
    border-bottom-color: transparent;
    font-weight: 600;
  }
  &.active>a, &.active>a:focus, &.active>a:hover {
    background-color: #fcf8e3;
    border: 1px solid #8a6d3b;
    border-bottom-color: transparent;
    color: #8a6d3b;
    font-weight: 600;
  }
}
.nav.nav-tabs .tab-feature {
  a {
    background-color: #dff0d8;
    color: #3c763d;
  }  
  a:hover, :focus {
    border: 1px solid #3c763d;
    border-bottom-color: transparent;
    font-weight: 600;
  }
  &.active>a, &.active>a:focus, &.active>a:hover {
    background-color: #dff0d8;
    border: 1px solid #3c763d;
    border-bottom-color: transparent;
    color: #3c763d;
    font-weight: 600;
  }
}
.nav.nav-tabs .tab-structure {
  a {
    background-color: #d9edf7;
    color: #31708f;
  }  
  a:hover, a:focus {
    border: 1px solid #31708f;
    border-bottom-color: transparent;
    font-weight: 600;
  }
  &.active>a, &.active>a:focus, &.active>a:hover {
    background-color: #d9edf7;
    border: 1px solid #31708f;
    border-bottom-color: transparent;
    color: #31708f;
    font-weight: 600;
  }
}
.nav.nav-tabs .tab-html5 {
  a {
    background-color: #e8eaf8;
    color: #656789;
  }  
  a:hover, a:focus {
    border: 1px solid #656789;
    border-bottom-color: transparent;
    font-weight: 600;
  }
  &.active>a, &.active>a:focus, &.active>a:hover {
    background-color: #e8eaf8;
    border: 1px solid #656789;
    border-bottom-color: transparent;
    color: #656789;
    font-weight: 600;
  }
}
.nav.nav-tabs .tab-contrast {
  a {
    background-color: #666666;
    color: #ffffff;
  }  
  a:hover, a:focus {
    border: 1px solid #ffffff;
    border-bottom-color: transparent;
    font-weight: 600;
  }
  &.active>a, &.active>a:focus, &.active>a:hover {
    background-color: #666666;
    border: 1px solid #666666;
    border-bottom-color: transparent;
    color: #ffffff;
    font-weight: 600;
  }
}
.nav.nav-tabs .tab-all {
  a {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    border-bottom-color: transparent;
    color: #666666;
  }  
  a:hover, a:focus {
    border: 1px solid #666666;
    border-bottom-color: transparent;
    font-weight: 600;
  }
  &.active>a, &.active>a:focus, &.active>a:hover {
    background-color: #ffffff;
    border: 1px solid #666666;
    border-bottom-color: transparent;
    color: #666666;
    font-weight: 600;
  }
}
a.guideline-link {
  border-bottom: none;
  cursor: pointer;
  text-decoration: none;

  &:hover, &:focus {
    font-weight: 600;
  }
}
.glyphicon-info-sign {
  color: #31708f;
}
.row-err {
  background-color: #f2dede;
}
footer {
  background-color: #2a2727;
  color: white;
  flex-shrink: 0;
  padding: 16px 0 8px;
  text-align: center;
  width: 100%;
  
  a, a:hover, a:focus {
    border-bottom-color: white;
    color: white;
  }
}
